body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Friendly Schoolmates', serif;
}

img {
    max-width: 100%;
    max-height: 100%;
  }
  
.icon_01d {
    background-image: url(https://raw.githubusercontent.com/migguz53/weatherhtml/master/weather_icons/01d.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon_02d {
    background-image: url(https://raw.githubusercontent.com/migguz53/weatherhtml/master/weather_icons/02d.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon_03d {
    background-image: url(https://raw.githubusercontent.com/migguz53/weatherhtml/master/weather_icons/03d.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon_04d {
    background-image: url(https://raw.githubusercontent.com/migguz53/weatherhtml/master/weather_icons/04d.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon_09d {
    background-image: url(https://raw.githubusercontent.com/migguz53/weatherhtml/master/weather_icons/09d.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon_10d {
    background-image: url(https://raw.githubusercontent.com/migguz53/weatherhtml/master/weather_icons/10d.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon_11d {
    background-image: url(https://raw.githubusercontent.com/migguz53/weatherhtml/master/weather_icons/11d.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon_13d {
    background-image: url(https://raw.githubusercontent.com/migguz53/weatherhtml/master/weather_icons/13d.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon_50d {
    background-image: url(https://raw.githubusercontent.com/migguz53/weatherhtml/master/weather_icons/50d.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.degree_symbol:not(:empty)::after {
    content: "°";
}

.header{
    background-color: yellow;
    padding: 20px;
}

.banner{
    background-color: lightskyblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.time{
    margin: auto;
    font-size: 3em;
}

.date{
    margin: auto;
    font-size: 3em;
}

.search{
    margin: auto;
    font-size: 1em;
}

.weather_front{
    position: absolute;
    margin: auto;
    margin-right: 5vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
    top: 15%;
    right: 9%;
}


.icon {
    margin: auto;
    margin-top: 40px;
    width: 100%;
    height: 300px;
    position: relative;
    left: -18vw;
}

.location_front{
    margin-top: 80px;
    margin-right: 6vw;
    font-size: 8em;
    text-align: right;
    color: white;
}

.forecast_front{
    margin-right: 6vw;
    font-size: 4em;
    text-align: right;
    color: white;
    font-style: italic;
    text-transform: capitalize;
}

.temp_front{
    font-size: 15em;
    color: white;
    text-align: right;
    position: absolute;
    left: 45%;
    bottom: 0px;
}

.hourly_forecast{
    background-color: white;
    display: grid;
    margin-top: 80px;
    padding-left: 3vw;
    padding-right: 3vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 60px;

    height: 400px;
}

.hour{
    margin-top: 100px;
    background-color: black;
    height: 260px;
    padding-top: 20px;
}

.time{
    font-size: 3em;
    margin: auto;
    color: white;
    text-align: center;
}

.hourtemp{
    font-size: 3em;
    margin: auto;
    margin-top: 20px;
    color: white;
    text-align: center;
}

.icon_hourly{
    margin-top: 15px;
    margin-bottom: 25px;
    width: 100%;
    height: 90px;
}

.hourly_header{
    color: black;
    position: absolute;
    bottom: 340px;
    left: 60px;
    font-size: 1.6em;
    font-style: italic;
}

.hourly_high{
    position: absolute;
    color: black;
    font-size: 1.6em;
    right: 250px;
    bottom: 340px;
}

.hourly_low{
    position: absolute;
    color: lightskyblue;
    font-size: 1.6em;
    right: 60px;
    bottom: 340px;
}