body{
    margin: auto;
    background-color: white;
    font-family: 'Friendly Schoolmates', serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.hidden2{
    display: none;
}

.icon_01d {
    background-image: url("https://raw.githubusercontent.com/migguz53/weatherhtml/master/weather_icons/01d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon_02d {
    background-image: url("https://raw.githubusercontent.com/migguz53/weatherhtml/master/weather_icons/02.d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
  
.icon_03d {
    background-image: url("https://raw.githubusercontent.com/migguz53/weatherhtml/master/weather_icons/03d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
  
.icon_04d {
    background-image: url("https://raw.githubusercontent.com/migguz53/weatherhtml/master/weather_icons/04d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
  
.icon_09d {
    background-image: url("https://raw.githubusercontent.com/migguz53/weatherhtml/master/weather_icons/09d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
  
.icon_10d {
    background-image: url("https://raw.githubusercontent.com/migguz53/weatherhtml/master/weather_icons/10d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
  
.icon_11d {
    background-image: url("https://raw.githubusercontent.com/migguz53/weatherhtml/master/weather_icons/11d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
  
.icon_13d {
    background-image: url("https://raw.githubusercontent.com/migguz53/weatherhtml/master/weather_icons/13d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
  
.icon_50d {
    background-image: url("https://raw.githubusercontent.com/migguz53/weatherhtml/master/weather_icons/50d.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.degree_symbol:not(:empty)::after {
    content: "°";
}

.header{
    background-color: yellow;
    padding: 20px;
}

.banner{
    background-color: lightskyblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.time{
    margin: auto;
    font-size: 3em;
}

.date{
    margin: auto;
    font-size: 3vw;
}

#zip {
    width: 30vw;
    color: white;
    background-color: lightskyblue;
    margin: auto;
    display: block;
    border: 0;
    text-align: center;
    font-size: 2.7vw;
    font-family: 'Friendly Schoolmates', serif;
    position: absolute;
    top: 20px;
    right: 5vw;
}

input[type="text"],
textarea {
  background-color: lightskyblue;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.weather_front{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "first second"
        "first third";
    margin-bottom: -100px;
}


.icon {
    margin-top: 20px;
    margin-bottom: -20px;
    width: 40vw;
    max-height: 400px;
    position: relative;
    left: 5vw;
    grid-area: first;
}

.location_front{
    margin-top: 120px;
    font-size: 7vw;
    text-align: left;
    color: white;
    grid-area: second;
}

.forecast_front{
    margin-right: 250px;
    font-size: 4vw;
    text-align: center;
    color: white;
    font-style: italic;
    text-transform: capitalize;
    grid-area: third;
}

.temp_front{
    font-size: 15em;
    color: white;
    text-align: center;
    margin-left: 80px;
    margin-top: 70px;
}

.hourly_forecast{
    background-color: white;
    display: grid;
    margin-top: 80px;
    margin-bottom: -90px;
    padding-left: 3vw;
    padding-right: 3vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 60px;

    height: 400px;
}

.tab{
    position: relative;left: 63vw;
}

.hour{
    margin-top: 100px;
    background-color: black;
    height: 260px;
    padding-top: 20px;
}

.time{
    font-size: 2.5vw;
    margin: auto;
    color: white;
    text-align: center;
}

.hourtemp{
    font-size: 3em;
    margin: auto;
    margin-top: 20px;
    color: white;
    text-align: center;
}

.icon_hourly{
    margin-top: 15px;
    margin-bottom: 25px;
    width: 100%;
    height: 90px;
}

.hourly_header{
    color: black;
    position: relative;
    font-size: 1.4vw;
    font-style: italic;
    margin-left: 60px;
    margin-bottom: -160px;
    margin-top: 70px;
}

.hourlyheader2{
    color: lightskyblue;
}

.daily_header{
    color: black;
    position: relative;
    font-size: 1.7em;
    font-style: italic;
    top: 160px;
    left: 65px;

}

.daily_forecast{
    background-color: yellow;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
     
    margin-top: 70px;
    margin-left: 30px;
    padding: 120px 30px 10px 30px;

    min-height: 1000px;
    width: 44vw;
}

.days{
    background-color: black;
    height: 90px;
    padding-right: 30px;
}

.day{
    color: white;
    font-size: 3.5em;
    padding-top: 15px;
    padding-left: 30px;
}

.icon_daily{
    width: 100%;
    height: 70px;
    margin-top: -70px;
}

.daily_high{
    position: relative;
    color: white;
    padding-top: 10px;
    font-size: 1.1vw;
    left: 26vw;
    bottom: 90px;
}

.daily_low{
    color: lightskyblue;
}

.radar{
    background-color: white;
    position: relative;
    width: 43vw;
    right: -51vw;
    bottom: 1255px;
    margin-left: 30px;
    display: grid;
    grid-template-rows: .5fr 2.5fr .5fr;
}

.radarheading{
    color: black;
    font-size: 2em;
    margin-left: 30px;
    font-style: italic;
    margin-top: -20px;
    margin-bottom: -20px;
}

.radarimg{
    background-color: lightskyblue;
    margin-left: 30px;
    margin-right: 30px;
}

.radarlocation{
    color: black;
    font-size: 2em;
    margin-left: 30px;
    margin-top: 10px;
}

.conditions{
    background-color: lightskyblue;
    position: relative;
    width: 43vw;
    right: -52.5vw;
    bottom: 1200px;
    display: grid;
    grid-row: 1fr 2fr;
    margin-left: 10px;
}

.conditionheader{
    color: white;
    font-size: 2em;
    font-style: italic;
    margin-left: 30px;
    margin-bottom: -20px;
    margin-top: -10px;
}

.conditionbox1{
    background-color: black;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.conditiontext{
    color: white;
    font-size: 2em;
    text-align: center;
    line-height: 34px;
}








@media screen and (max-width: 1024px) and (min-width: 768px){

    body{
        margin: auto;
        padding: 0;
        background-color: black;
    }
    #zip {
        width: 30vw;
        color: white;
        background-color: lightskyblue;
        margin: auto;
        display: block;
        border: 0;
        text-align: center;
        font-size: 2.7vw;
        font-family: 'Friendly Schoolmates', serif;
        position: absolute;
        top: 25px;
        right: 5vw;
    }

    .weather_front{
        position: relative;
        margin: auto;
        width: 90vw;
    }    

    .icon {
        left: 58%;
        margin-top: 0px;
    }
    
    .location_front{
        color: white;
        position: absolute;
        top: 300px;
        left: -340px;
        font-size: 7em;
        text-align: center;
    }

    .forecast_front{
        color: white;
        position: absolute;
        top: 360px;
        left: -340px;
        font-size: 4em;
    }
    
    .temp_front{
        font-size: 13em;
        color: white;
        text-align: center;
        margin-left: 80px;
        margin-top: 70px;
    }

    .hourly_header{
        color: white;
        position: relative;
        font-size: 2vw;
        font-style: italic;
        margin-left: 30px;
        top: 110px;
        margin-top: 170px;
        
    }

    .hourlyheader2{
        color: lightskyblue;
    }

    .hourly_forecast{
        
        position: relative;
        display: grid;
        bottom: -200px;
        padding-left: 3vw;
        padding-right: 3vw;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
        margin-bottom: -100px;
        height: 300px;
    }
    
    .tab{
        position: relative;left: 53vw;
    }
    
    .hidden{
        display: none;
    }
    .hour{
        margin-top: 25px;
        background-color: black;
        height: 230px;
        padding-top: 20px;
    }
    
    .time{
        font-size: 4vw;
        margin: auto;
        color: white;
        text-align: center;
    }
    
    .hourtemp{
        font-size: 3em;
        margin: auto;
        color: white;
        text-align: center;
    }
    
    .icon_hourly{
        margin-top: 15px;
        margin-bottom: 25px;
        width: 100%;
        height: 90px;
    }
    
    
    .daily_header{
        color: black;
        position: relative;
        font-size: 1.7em;
        font-style: italic;
        top: 340px;
        left: 65px;
    
    }
    
    .daily_forecast{
        background-color: yellow;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 25px;
         
        margin-top: 250px;
        margin-left: 30px;
        padding: 120px 30px 10px 30px;
    
        width: 85vw;
    }
    
    .days{
        background-color: black;
        height: 90px;
        padding-right: 30px;
    }
    
    .day{
        color: white;
        font-size: 3.5em;
        margin-left: 30px;
        padding-top: 15px;
        padding-left: 50px;
    }
    
    .icon_daily{
        width: 100%;
        height: 70px;
        margin-top: -70px;
    }
    
    .daily_high{
        position: relative;
        color: white;
        font-size: 2vw;
        left: 54vw;
        bottom: 83px;
    }
    
    .daily_low{
        color: lightskyblue;
    }
    
    .radar{
        background-color: white;
        display: grid;
        grid-template-rows: .5fr 2.5fr .5fr;
        position: relative;
        bottom: -50px;
        left: 0px;
        width: 91vw;
    }
    
    .radarheading{
        color: black;
        font-size: 2em;
        margin-left: 30px;
        font-style: italic;
        margin-top: -20px;
        margin-bottom: -20px;
    }
    
    .radarimg{
        background-color: lightskyblue;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .radarlocation{
        color: black;
        font-size: 2em;
        margin-left: 30px;
        margin-top: 10px;
    }
    
    .conditions{
        background-color: lightskyblue;
        position: relative;
        left: 30px;
        bottom: -100px;
        width: 91vw;
        display: grid;
        grid-row: 1fr 2fr;
    }
    
    .conditionheader{
        color: white;
        font-size: 2em;
        font-style: italic;
        margin-left: 30px;
        margin-bottom: -20px;
        margin-top: -10px;
    }
    
    .conditionbox1{
        background-color: black;
        margin-bottom: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .conditiontext{
        color: white;
        font-size: 4vw;
        text-align: center;
        line-height: 34px;
    }

}













@media screen and (max-width: 767px){
    body{
        margin: auto;
        padding: 0;
        background-color: black;
    }
    .header{
        background-color: yellow;
        padding: 20px;
    }
    
    .hidden2{
        display: initial;
    }

    .banner{
        background-color: lightskyblue;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 60px;
    }
    
    .time{
        margin: auto;
        font-size: 3.5em;
    }
    
    .date{
        margin: auto;
        font-size: 2em;
    }
    
    #zip {
        width: 30vw;
        color: white;
        background-color: lightskyblue;
        margin: auto;
        margin-top: 15px;
        display: block;
        border: 0;
        text-align: center;
        font-size: 4vw;
        font-family: 'Friendly Schoolmates', serif;
        position: absolute;
        top: 20px;
        right: 5vw;
    }
    
    input[type="text"],
    textarea {
      background-color: lightskyblue;
    }
    
    input:focus,
    textarea:focus,
    select:focus {
      outline: none;
    }

    .weather_front{
        position: relative;
        margin: auto;
        display: grid;
        grid-template-areas: 
            "big"
            "big"
            "text_uno"
            "text_dos";
        grid-row: 1fr 1fr 1fr 1fr;
    }    

    .icon{
        width: 88vw;
        grid-area: big;
    }
    
    .location_front{
        color: white;
        position: relative;
        font-size: 7em;
        text-align: left;
        grid-area: text_uno;
        margin-left: 40px;
    }

    .forecast_front{
        color: white;
        position: relative;
        font-size: 4em;
        text-align: left;
        grid-area: text_dos;
        margin-left: 40px;
        margin-bottom: -150px;
    }
    
    .temp_front{
        font-size: 13em;
        color: white;
        text-align: center;
        margin-left: 60px;
        margin-top: 70px;
    }

    .hourly_header{
        color: white;
        position: relative;
        font-size: 4vw;
        font-style: italic;
        margin-left: 30px;
        top: 110px;
        margin-top: 100px;
        
    }

    .hourlyheader2{
        color: lightskyblue;
    }

    .hourly_forecast{
        
        position: relative;
        display: grid;
        bottom: -200px;
        padding-left: 3vw;
        padding-right: 3vw;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row: 1fr 1fr;
        grid-gap: 10px;
        margin-bottom: -100px;
        height: 630px;
    }
    
    .tab{
        position: relative;left: 9vw;
    }
    
    .hour{
        margin: 20px 1px -20px 1px;
        background-color: black;
        height: 230px;
    }
    
    .time{
        font-size: 6vw;
        margin: auto;
        color: white;
        text-align: center;
    }
    
    .hourtemp{
        font-size: 3.2em;
        margin: auto;
        color: white;
        text-align: center;
    }
    
    .icon_hourly{
        margin-top: 15px;
        margin-bottom: 25px;
        width: 100%;
        height: 90px;
    }
    
    
    .daily_header{
        color: black;
        position: relative;
        font-size: 1.7em;
        font-style: italic;
        top: 340px;
        left: 65px;
    
    }
    
    .daily_forecast{
        background-color: yellow;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 25px;
        
        margin: auto;
        margin-top: 250px;
    
        padding: 120px 30px 10px 30px;
    
        width: 72vw;
    }
    
    .days{
        background-color: black;
        height: 270px;
        padding-right: 30px;
    }
    
    .day{
        color: white;
        font-size: 3.5em;
        margin-left: -30px;
        padding-top: 15px;
        padding-left: 50px;
        text-align: center;
    }
    
    .icon_daily{
        width: 100%;
        height: 70px;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .daily_high{
        position: relative;
        color: white;
        font-size: 4vw;
        left: 8vw;
        bottom: 10px;
    }
    
    .daily_low{
        color: lightskyblue;
    }
    
    .radar{
        margin: auto;
        background-color: white;
        display: grid;
        grid-template-rows: .5fr 2.5fr .5fr;
        position: relative;
        bottom: -50px;
        left: 0px;
        width: 82vw;
    }
    
    .radarheading{
        color: black;
        font-size: 2em;
        margin-left: 30px;
        font-style: italic;
        margin-top: -20px;
        margin-bottom: -20px;
    }
    
    .radarimg{
        background-color: lightskyblue;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .radarlocation{
        color: black;
        font-size: 2em;
        margin-left: 30px;
        margin-top: 10px;
    }
    
    .conditions{
        margin: auto;
        background-color: lightskyblue;
        position: relative;
        left: 0px;
        bottom: -100px;
        width: 82vw;
        display: grid;
        grid-row: 1fr 2fr;
    }
    
    .conditionheader{
        color: white;
        font-size: 2em;
        font-style: italic;
        margin-left: 30px;
        margin-bottom: -20px;
        margin-top: -10px;
    }
    
    .conditionbox1{
        background-color: black;
        margin-bottom: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .conditiontext{
        color: white;
        font-size: 5vw;
        text-align: center;
        line-height: 34px;
    }

}